<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="coffeemate.chris.app.coffeemateclub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/j2"
        android:label="CoffeeMate"
        android:supportsRtl="true">
        <activity
            android:name=".app.MainActivity"
            android:label="CoffeeMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainActivityList"
            android:label="@string/title_activity_main_activity_list">

        </activity>
    </application>

</manifest>
